@model IEnumerable<SharedEntities.Entities.Juego>

@{
    ViewBag.Title = "Listar";
}

<h2>Listar</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>Nombre Juego</th>
        <th>DNS</th>
        <th>Estado</th>
        <th>Acciones</th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>@item.nombreJuego</td>
        <td>@item.dominio</td>
        <td>@item.estado</td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
