@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
        @Html.AntiForgeryToken()
        <ul class="nav navbar-nav navbar-right" style="margin-right:15px;">
            <li class="dropdown user user-menu">
                <a class="dropdown-toggle" data-toggle="dropdown">
                    <span class="hidden-xs">@User.Identity.GetUserName()</span>
                </a>
                <ul class="dropdown-menu">
                    <!-- User image -->
                    <li class="user-header" style="height:initial;">
                        <p>
                            @User.Identity.GetUserName()
                        </p>
                    </li>
                    <!-- Menu Footer-->
                    <li class="user-footer">
                        <div class="pull-left">
                            @Html.ActionLink("Profile", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                        </div>
                        <div class="pull-right">
                            <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
                        </div>
                    </li>
                </ul>
            </li>
        </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="active">@Html.ActionLink("Iniciar Sesion", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>@Html.ActionLink("Registrarse", "RegisterJugador", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
    </ul>
}